# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases
pipeline.db
*.db
*.sqlite3

# Environment configurations
.env

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
